* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /********* Colors **********/
  --col-primary: #7367f0;
  --col-grey-text: #69647d;
  --col-lightgrey-bg: #f8f8f8;

  /********* Shadows *********/
  --shadow-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  font-family: "Roboto", sans-serif;

  background-color: var(--col-lightgrey-bg);
}
a {
  color: var(--col-grey-text);
  text-decoration: none;
}
.conatiner {
  max-width: 1200px;
  margin: 0 auto;
}
.page {
  padding-top: 90px;
}
