* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /********* Colors **********/
  --col-primary: #7367f0;
  --col-grey-text: #69647d;
  --col-lightgrey-bg: #f8f8f8;

  font-family: "Roboto", sans-serif;

  background-color: var(--col-lightgrey-bg);
}
