.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 5px;
}
.sidebar__item {
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
}
.sidebar__itemSelected {
  background-color: white;
  color: var(--col-primary);
  box-shadow: var(--shadow-light);
}
